*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

body,
input,
button {
    font-family: 'Muli', sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
}

.HomeSection{
   display: flex;
    flex-direction: row;
}

.Menu{
    display: flex;
    flex-direction: column;
    width: 14%;
    margin-top: 2%;
}
.Menu button{
    background-color: #E0EFFE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    color: #037875;
    text-decoration: none;
    margin-top: 2px;
    transition: background-color .3s;
    border: none;
}


.ContMenuSection{
    background-color: #0B5351;
    max-width: 500px;
    margin: 0 auto;

}